<div class="section bv-container-pdp">
    <div data-bv-show="reviews" data-bv-product-id="{{product.id}}"> </div>
</div>
{% schema %}
{
  "name": "BV PDP",
  "settings": [
  ],
  "presets": [
    {
      "name": "BV PDP"
    }
]
}
{% endschema %}